{
  "env": {
    "coreJs": 3
  },
  "test": ".*.ts?x$",
  "exclude": [".*.js$", ".*.map$"],
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false
    },
    "transform": {
      "react": {
        "throwIfNamespace": true,
        "development": false,
        "refresh": true
      }
    }
  }
}
