{
  "$schema": "http://json.schemastore.org/swcrc",
  "env": {
    "coreJs": "3"
  },
  "exclude": [".*.js$", ".*.map$"],
  "sourceMaps": true,
  "jsc": {
    "baseUrl": "./",
    "paths": {
      "@test": ["test/index"],
      "@components/*": ["src/components/*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": false
    },
    "transform": {
      "react": {
        "development": false,
        "refresh": true,
        "runtime": "automatic",
        "throwIfNamespace": true
      },
      "optimizer": {
        "globals": {
          "vars": {
            "__DEBUG__": "true"
          }
        }
      }
    }
  }
}
